.container{
    display: flex;
    align-items: center;
}

.single_currency{
    display: flex;
    align-items: center;
}

.btc_currency{
    font-size: 1.4rem;
    margin-left: 0.2rem;
}

.select{
    font-size: 1.4rem;
    font-weight: bold;
    width: 6.5rem;
}

.input_fiat{
    margin-left: 2rem;
}

.input{
    width: 15rem;
}

@media only screen and (max-width: 650px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }

    .input_fiat{
        margin: 0;
    }

    .single_currency:first-child{
        margin-bottom: 0.5rem;
    }

    .single_currency{
        width: 100%;
        justify-content: center;
    }

    .btc_currency{
        width: 6.5rem;
        text-align: center;
    }

    .input{
        width: 25rem;
        margin-right: 0.3rem;
        max-width: calc(100% - 15rem - 0.3rem);
    }
  }