.container{
    display: flex;
    align-items: center;
}

.container > *{
    margin-right: 0.5rem;
}

.btc_currency{
    font-size: 1.4rem;
}

.select{
    font-size: 1.4rem;
    font-weight: bold;
    width: 6.5rem;
}

.input_fiat{
    margin-left: 2rem;
}