.container_currencies{
    width: 100%;
    display: flex;
    color: white;
}

.currency_toggle{
    cursor: pointer;
    font-size: larger;
}

.currencies{
    width: 50%;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.list > *{
    margin-right: 1rem;
    margin-top: 1rem;
}

.list:last-child{
    margin-right: 0;
}

.single_currency{
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.non_selected{

    background-color: rgb(141, 223, 19);
}

.non_selected:hover{
    background-color: rgb(167, 250, 43);
}

.selected{
    background-color: rgb(234, 19, 19);
}

.selected:hover{
    background-color: rgb(255, 20, 20);
}

.sign{
    margin-left: 0.5rem;
    font-size: 1.5;
    font-weight: bolder;
}

.text{
    text-align: center;
    font-weight: bold;
    width: 100%;
}