footer{
    height: 10vh;
    min-height: 70px;
    background-color: rgba(185, 185, 185, 0.443);
    background: url('../public/images/wave.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

footer > .icons{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer > .icons > .icon{
    
    margin-left: 1rem;
}

.icon > svg{
    width: 2.2rem;
    height: 2.2rem;
    fill: white;
}

.icon:hover > svg{
    fill: gold;
}