@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Yeon+Sung&display=swap');
:root {
    --money-color: #06d6a0;
    --currency-color: #606c38;
    --primary-color:gold;
    --primary-hover:rgb(255, 231, 92);
    --gold-color:#FFD700;
  }


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, #5268e8e4, #374dcce6, #5875f9e6), url("../public/images/bank.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: gold;
  font-family: 'Josefin Sans', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

.container{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > *{
  margin-bottom: 1.5rem;
}

.container:last-child{
  margin-bottom: 0;
}

.custom-input {
  width: 8rem;
  height: 3rem;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 1.3rem;
  padding: 0 10px;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select {
  width: fit-content;
  height: 3rem;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 1.3rem;
  appearance: none;
  background-color: white;
  padding: 0 20px 0 10px;
  cursor: pointer;

  background-image: url('../public/images/arrow.svg'); /* URL del icono */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 75%;
}

.primary-button{
background: goldenrod;
padding: 1rem;
border-radius: 5px;
cursor: pointer;
color: white;
font-size: larger;
font-weight: bold;
}

.primary-button:hover{
background: rgb(237, 193, 80);
}

.secondary{
  background: black;
  color: white;
}

.secondary:hover{
  background: rgb(40, 39, 39);
}