header{

border-bottom: 1px solid rgba(255, 255, 255, 0.057);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    align-items: center;
    height: 8vh;
    min-height: 60px;
    padding: 2rem;
    width: 75%;
    margin: 0 auto;
    color: white;
}

nav > *{
    width: 50%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: bold;
}