header{

box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    align-items: center;
    height: 8vh;
    min-height: 60px;
    padding: 2rem;
    padding-left: 18rem;
    padding-right: 18rem;
    margin: 0 auto;
    color: white;
}

@media only screen and (max-width: 1500px) {
    nav{
        padding-left: 5rem;
        padding-right: 5rem;
    }
  }

.logo{
    font-family: 'Yeon Sung', cursive;
    font-size: 3rem;
    transition: 300ms ease-in-out;
}

.logo > span{
    color: gold;
}

.nav > .logo{
    cursor: pointer;
}

nav > .logo:hover{
    font-size: 3.1rem;
}

nav > *{
    width: 50%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-weight: bold;
}

ul > li:hover{
    color: gold;
}