@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.container{
    padding-left: 18rem;
    width: fit-content;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (max-width: 1500px) {
    .container{
        padding-left: 5rem;
    }
  }

.container>*{
    margin: 0;
}

.title{
    font-size: 3.2rem;
    font-family: 'Courgette', cursive;
    width: fit-content;
    margin-top: -10rem;
}

.text{
    color:white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.button{
    margin-right: 1rem;
    margin-top: 10rem;
}