.container{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > *{
    margin-bottom: 1.5rem;
}

.container:last-child{
    margin-bottom: 0;
}

  .custom-input {
    width: 8rem;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .custom-input::-webkit-inner-spin-button,
  .custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-select {
    width: fit-content;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 4px;
    font-size: 1.3rem;
    appearance: none;
    background-color: white;
    padding: 0 20px 0 10px;
    cursor: pointer;

    background-image: url('../public/images/arrow.svg'); /* URL del icono */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 75%;
  }

