.first_text{
    font-size: xx-large;
    font-weight: bold;
}

.input{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.single_quote{
    display: flex;
    margin-top: 1rem;
}

.single_quote > *{
    width: 12rem;
    text-align: end;
}

.currency{
    margin: 0;
    text-align: center;
}